.react-grid-item {
    background: url(../assets/images/temp/bd.png);
    background-size: 100% 100%;
    position: relative;
    &:hover .bg-close {
        opacity: 1;
      }
    .bg-close {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        width: 24px;
        cursor: pointer;
        opacity: 0;
        transition: all .3s;
      }
    .bg-icon {
        &:nth-child(1) {
            position: absolute;
        }

        &:nth-child(2) {
            position: absolute;
            top: 0;
            right: 0;
            transform: rotate(90deg);
        }

        &:nth-child(3) {
            position: absolute;
            bottom: 0;
            left: 0;
            transform: rotate(270deg);
        }

        &:nth-child(4) {
            position: absolute;
            bottom: 0;
            right: 0;
            transform: rotate(-180deg);
        }

        &:nth-child(5) {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
        }

        &:nth-child(6) {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%) rotate(180deg);
        }
    }

    .bg-eGauge {
        width: 100%;
        // height: 100%;;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .title-box {
        height: 30px;
        line-height: 24px;
        width: 360px;
        max-width: 75%;
        background: url(../assets/images/temp/bg-title.png);
        background-size: 100% 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
        font-size: 12px;
        color: #fff;
        font-weight: bolder;
    }
}

.ant-table-tbody>tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)>td {
    background: none;
}

.ant-table-tbody td {
    color: #fff;
}

.ant-table-thead .ant-table-column-title {
    color: #fff;
}

.droppable-element {
    background: #fff;
    width: 100px;
    height: 100px;
}

.cst-layout {
    min-height: 100%;
}

.global-btn {
    width: 100px;
    height: 50px;
    line-height: 30px;
    margin: 0 10px;
    color: #fff;
    display: inline-block;
    outline: none;
    border: none;
    background: url('../assets/images/temp/global-btn.png') 0 0 no-repeat;
    background-size: 100% 100%;
    transition: all .3s;

    &:hover {
        cursor: pointer;
        color: #0393FF;
    }
}

.ant-modal-content {
    background: url('../assets/images/temp/bg-tanchuang.png') 0 0 no-repeat;
    background-size: 100% 100%;
    width: 501px;
    height: 291px;

    .ant-modal-body {
        text-align: center;
        padding: 60px 0 24px 0;
        font-size: 14px;
        line-height: 1.5;
        word-wrap: break-word;
        .ant-form {
            .ant-form-item:last-child {
                .ant-col {
                    margin-left: 25%;
                }
            }
        }
        .ant-btn {
            width: 100px;
            height: 50px;
            border: none;
            outline: none;
            background: url('../assets/images/temp/global-btn.png') 0 0 no-repeat;
            color: #fff;
            &:hover {
                color: #03AFFF;
                background: url('../assets/images/temp/global-btn.png') 0 0 no-repeat;
                border-color: none;
            }
            span {
                line-height: 50px;
            }
        }
        .ant-modal-confirm-body-wrapper {
            .ant-modal-confirm-body {
                .anticon-question-circle {
                    display: none;
                }
                .ant-modal-confirm-title {
                    text-align: center;
                    font-weight: 600;
                    font-size: 15px;
                    letter-spacing: 1px;
                    text-shadow: 0px 0px 8px #006def
                }
            }
        }
    }
}

// .ant-form-item-label {
//     height: 32px;
//     line-height: 40px;
// }

// .ant-form-item-label>label {
//     font-weight: bolder;
//     font-size: 14px;
//     color: #0393FF;
// }

.ant-col {
    position: relative;
    display: inline-block;
    min-height: 1px;
}

.ant-input,
.ant-select-selection {
    background: none;
    border: 1px solid #0393FF;
    color: #fff;
}
// 输入框获取错误焦点
.has-error {
    .ant-input {
        background: transparent !important;
        &:hover {
            background: transparent !important;
        }
    }
}
//弹框表单lable字
.ant-form-item-label {
    label {
        color: #fff !important;
    }
}
.ant-form-explain {
    text-align: left;
}
.ant-select-arrow-icon,
.ant-select-clear-icon {
    color: #0393FF;
    background: none;
}

.active-tag-views {
    color: #03AFFF !important;
}

.ant-modal-confirm-body {
    .ant-modal-confirm-title {
        color: #fff;
    }
}

.anticon-question-circle {
    margin-left: 157px;
}
.ant-modal-confirm-title{
    text-align: left;
}
.ant-modal-confirm-body-wrapper {
    margin-top: 40px;
}
.ant-modal-confirm-btns {
    float: none !important;
    margin-left: 0 !important;
    margin-top: 50px !important;
}

.ant-dropdown-menu-item-divider {
    background-color: #02439d;
}

.ant-progress-line {
    width: 200px;
    display: inline-block;
}

.progress-label {
    display: inline-block;
    margin-right: 20px;
    color: #FFFFFF;
    font-size: 10px;
    // font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ant-progress-inner,
.ant-progress-bg {
    // border-radius: 4px;
    background: none;
}

.ant-progress-text,
.ant-progress-status-success {
    color: #FFFFFF !important;
    font-size: 10px;
}

// 单条进度条样式
.crime-content {
    padding: 50px 50px;
    height: 92%;

    .crime-content-pro {
        display: flex;
        height: 30%;
        margin-top: 20px;

        span {
            color: #fff;
            line-height: 30px;
            display: inline-block;
        }

        .ant-slider {
            width: 60%;
            display: inline-block;
            margin: 5px 0 0 16px;

            .ant-slider-step {
                height: 12px;
            }

            .ant-slider-track {
                height: 12px;
                border-radius: 6px;
                background: linear-gradient(90deg, rgba(255, 110, 2, 1) 0%, rgba(255, 255, 0, 1) 100%);
            }

            .ant-slider-rail {
                background: transparent;
            }

            .ant-slider-rail:hover {
                background: transparent;
            }

            .ant-slider-handle {
                display: none;
            }
        }
    }
}

.equipment-content {
    padding: 50px 50px;
    height: 92%;
    display: flex;
    flex-wrap: wrap;
    .crime-content-pro {
        display: flex;
        height: 38px;
        margin-top: 20px;
        width: 100%;

        span {
            color: #fff;
        }

        .crime-content-title {
            border-right: 2px solid rgba(18, 195, 249, 1);
            padding-right: 10px;
            line-height: 38px;
            display: inline-block;
        }

        .crime-content-pro-box {
            width: 75%;

            .number {
                // margin-left: 20px;
                font-size: 12px;
                color: #01B9F6;
            }

            .ant-slider {
                width: 50%;
                display: inline-block;
                margin: 0px;
                padding: 0px;
                margin-left: 10px;
                height: 16px;

                .ant-slider-step {
                    height: 12px;
                }

                .ant-slider-track {
                    height: 16px;
                    border-radius: 0px;
                    background: linear-gradient(-90deg, rgba(0, 156, 255, 1) 0%, rgba(17, 199, 252, 1) 100%);
                }

                .ant-slider-rail {
                    background: transparent;
                }

                .ant-slider-rail:hover {
                    background: transparent;
                }

                .ant-slider-handle {
                    display: none;
                }
            }
        }
    }
}
.ant-calendar-picker-input {
    width: 138px!important;
}
.ant-skeleton-paragraph > li {
    width: 100%!important;
}